<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <!--
      Since this solution is designed for Sitecore-first JSS workflow, remove editor
      warnings regarding import overwrites.
    -->
      <pipelines>
          <httpRequestBegin>
              <processor type="VsCodeEditor.Platform.Pipelines.HttpRequestBegin.HandleCodeRequest, VsCodeEditor"
                patch:before = "processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']" />
          </httpRequestBegin>
      </pipelines>

  </sitecore>
</configuration>
